#region-proyectos.container

  .region
    .region-title
      %h1= page_title!('Listando proyectos')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Proyecto', new_proyecto_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
            %th Nombre
            %th Logo
            %th Foto
            %th Contenido
            %th
            %th
            %th

          - @proyectos.each do |proyecto|
            %tr
              %td= proyecto.nombre
              %td= proyecto.logo
              %td= proyecto.foto
              %td= proyecto.contenido
              %td= link_to 'Ver', proyecto, class: 'btn btn-info'
              - if current_admin
                %td= link_to 'Editar', edit_proyecto_path(proyecto), class: 'btn btn-success'
                %td= link_to 'Eliminar', proyecto, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
