#region-proyectos.container
  .region
    .region-title
      %h1= page_title!('proyecto')

  .region
    %p
      %b Nombre:
      = @proyecto.nombre
    %p
      %b Logo:
      = @proyecto.logo
    %p
      %b Foto:
      = @proyecto.foto
    %p
      %b Contenido:
      = @proyecto.contenido

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_proyecto_path(@proyecto), class: 'btn btn-success'
    = link_to 'Regresar', proyectos_path, class: 'btn btn-warning'
