= form_for @servicio, :html => { multipart: true, class: 'form-horizontal', role: 'form' } do |f|
  - if @servicio.errors.any?
    #error_explanation
      %h2= "#{pluralize(@servicio.errors.count, "error")}"
      %ul
        - @servicio.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :icono, 'Ícono', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.file_field :icono, class: 'form-control'
  .form-group
    = f.label :nombre, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :nombre, class: 'form-control'
  .form-group
    = f.label :contenido, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :contenido, class: 'tinymce'
  .form-group
    = f.label :fotografia, 'Imagen de proyecto', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.file_field :fotografia, class: 'form-control'
  .actions
    = f.submit 'Guardar', class: 'btn btn-default'
