#servicio
  %ul.top-nav
    - if @servicio.siguiente_servicio
      %li
        = link_to '>', @servicio.siguiente_servicio, remote: true
    - if @servicio.servicio_anterior
      %li
        = link_to '<', @servicio.servicio_anterior, remote: true
  %h2.title.ajax-title= @servicio.nombre

  %p
    = raw(@servicio.contenido)
  %br
  - if @servicio.fotografia
    #proyecto
      = image_tag @servicio.fotografia_url(:medium)
  %br
  .social-share
    %b.pull-left
      COMPARTIR EN:
    = link_to content_tag(:i, '', class: 'icon facebook_3'), 'https://www.facebook.com/sharer/sharer.php?u=' + request.original_url, target: '_blank'
    = link_to content_tag(:i, '', class: 'icon linkedin_3'), 'http://www.linkedin.com/shareArticle?mini=true&amp;url=' + request.original_url + '&amp;title=MCIF&amp;summary=MCIF', target: '_blank'

