
#region-servicios.container
  .region
    .region-title
      %h2.title= page_title!(I18n.t 'servicios.servicios')
      .subtitle= @texto_de_servicio.subtitulo
      = admin_create('Nuevo Servicio', new_servicio_path)
      -if current_admin
        = link_to 'Editar datos de servicio', servicios_editar_texto_de_servicio_path, class: 'btn btn-success'

      %p
        = raw(@texto_de_servicio.contenido)
#region-servicios-list
  .container
    .region
      .region-inner.region-title.sidebar
        %h2.title= I18n.t 'servicios.titulo'
        %ul.active-list
          - @servicios.each do |servicio|
            %li
              = image_tag servicio.icono_url(:thumb)
              .vertical-wrapper
                .vertical
                  %h3.vertical-inner
                    = link_to servicio.nombre, servicio, remote: true
                  - if current_admin
                    = link_to 'Editar', edit_servicio_path(servicio), class: 'btn btn-success'
                    = link_to 'Eliminar', servicio, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'

      .region-inner.region-title
        = render @servicio

