%h1 Servicios
- if current_admin
  = link_to 'Nuevo Servicio', new_servicio_path
%h2 Servicios

.span12
  .span4
    - @servicios.each do |servicio|
      = image_tag servicio.icono_url(:thumb)
      = link_to servicio.nombre, servicio, remote: true
      - if current_admin
        = link_to 'Editar', edit_servicio_path(servicio)
        = link_to 'Eliminar', servicio, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }
      %br
  
  .span8
    #servicio
      = render @servicio
