%h1 Listing servicios

%table
  %tr
    %th Icono
    %th Nombre
    %th Contenido
    %th
    %th
    %th

  - @servicios.each do |servicio|
    %tr
      %td= servicio.icono
      %td= servicio.nombre
      %td= servicio.contenido
      %td= link_to 'Show', servicio
      %td= link_to 'Edit', edit_servicio_path(servicio)
      %td= link_to 'Destroy', servicio, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Servicio', new_servicio_path
