= form_for @miembro, :html => { multipart: true, class: 'form-horizontal', role: 'form' } do |f|
  - if @miembro.errors.any?
    #error_explanation
      %h2= "#{pluralize(@miembro.errors.count, "error")}"
      %ul
        - @miembro.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :nombre, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :nombre, class: 'form-control'
  .form-group
    = f.label :puesto, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :puesto, class: 'form-control'
  .form-group
    = f.label :profesión, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :profesion, class: 'form-control'
  .form-group
    = f.label :resumen, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :resumen, class: 'form-control'
  .form-group
    = f.label :tipo, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :tipo, Miembro::TIPOS.collect {|i| [i]}, class: 'form-control'
  .form-group
    = f.label :fotografía, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.file_field :fotografia, class: 'form-control'
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :linkedin, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :linkedin, class: 'form-control'
  .form-group
    = f.label :contenido, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :contenido, class: 'tinymce'
  .actions
    = f.submit 'Guardar', class: 'btn btn-default'
