%h1 Listing miembros

%table
  %tr
    %th Nombre
    %th Tipo
    %th Fotografia
    %th Email
    %th Linkedin
    %th Contenido
    %th Puesto
    %th
    %th
    %th

  - @miembros.each do |miembro|
    %tr
      %td= miembro.nombre
      %td= miembro.tipo
      %td= miembro.fotografia
      %td= miembro.email
      %td= miembro.linkedin
      %td= miembro.contenido
      %td= miembro.puesto
      %td= link_to 'Show', miembro
      %td= link_to 'Edit', edit_miembro_path(miembro)
      %td= link_to 'Destroy', miembro, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Miembro', new_miembro_path
