- page_title!('Nosotros - ' + @miembro.nombre)
#region-miembro.container
  .region
    .region-title
      %h2.title Nosotros
      %span.subtitle
        = @miembro.nombre
      %p.puesto= @miembro.puesto
      %p.profesion= @miembro.profesion
      %p.email
        %i.icon.e_mail_marketing
        = @miembro.email


    - if @miembro.fotografia_url
      %figure.region-inner
        = image_tag @miembro.fotografia_url(:regular)

      .region-inner
        = raw(@miembro.contenido)
    - else
      .region-inner.no-image
        = raw(@miembro.contenido)

  = link_to 'Regresar', miembros_path, class: 'default-button'
- if current_admin
  = link_to 'Editar', edit_miembro_path(@miembro)
  \|
