%p#notice= notice

%p
  = @miembro.nombre
%p
  = @miembro.puesto
%p
  = image_tag @miembro.fotografia_url(:regular)
%p
  = @miembro.email
%p
  = @miembro.contenido

= link_to 'Regresar', miembros_path
- if current_admin
  = link_to 'Editar', edit_miembro_path(@miembro)
  \|
