- page_title!('Nosotros - ' + @miembro.nombre)
#region-miembro.container
  .region
    .region-title
      %h2.title Nosotros
      %span.subtitle
        = @miembro.nombre
      %p.puesto= @miembro.puesto
      %p.profesion= @miembro.profesion
      %p.resumen= @miembro.resumen
      %p.email
        %i.icon.e_mail_marketing
        = @miembro.email
      %p.email
        %i.icon.linkedin_2
        = link_to 'Ver Perfil de LinkedIn', @miembro.linkedin
        =# auto_link(@miembro.linkedin) { |link_text| "Ver Perfil de LinkedIn" }

    - if @miembro.fotografia_url
      %figure.region-inner
        = image_tag @miembro.fotografia_url(:regular)
        - if current_admin
          %br
          = link_to 'Eliminar Foto', borrar_foto_miembro_path, class: 'btn btn-danger'

      .region-inner
        = raw(@miembro.contenido)
    - else
      .region-inner.no-image
        = raw(@miembro.contenido)

  = link_to 'Regresar', miembros_path, class: 'default-button'
  - if current_admin
    = link_to 'Editar', edit_miembro_path(@miembro), class: 'btn btn-success'

