= form_for @asociado, :html => { multipart: true, class: 'form-horizontal', role: 'form' } do |f|
  - if @asociado.errors.any?
    #error_explanation
      %h2= "#{pluralize(@asociado.errors.count, "error")}"
      %ul
        - @asociado.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :nombre, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :nombre, class: 'form-control'
  .form-group
    = f.label :imagen, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.file_field :imagen, class: 'form-control'
  .form-group
    = f.label :link, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :link, class: 'form-control'
  .form-group
    = f.label :descripcion, 'Descripción', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :descripcion, class: 'tinymce'
  .actions
    = f.submit 'Guardar', class: 'btn btn-default'
