#region-asociados.container
  .region
    .region-title
      %h1= page_title!('asociado')

  .region
    %p
      %b Imagen:
      = @asociado.imagen
    %p
      %b Link:
      = @asociado.link
    %p
      %b Descripcion:
      = @asociado.descripcion

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_asociado_path(@asociado), class: 'btn btn-success'
    = link_to 'Regresar', asociados_path, class: 'btn btn-warning'
