= form_for @contacto, html: { class: '' } do |f|
  - if @contacto.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contacto.errors.count, "error")} prohibited this contacto from being saved:"
      %ul
        - @contacto.errors.full_messages.each do |msg|
          %li= msg

  .form-group-side
    .form-group
      = f.label :nombre, class: 'control-label'
      = f.text_field :nombre, class: 'form-control'
    .form-group
      = f.label :email, class: 'control-label'
      = f.text_field :email, class: 'form-control'
    .form-group
      = f.label :telefono, class: 'control-label'
      = f.text_field :telefono, class: 'form-control'
  .form-group-side
    .form-group.form-textarea
      = f.label :mensaje, class: 'control-label'
      = f.text_area :mensaje, class: 'form-control'
    .actions
      = f.submit 'Enviar'
