= render 'scripts/tiny_mce'

= form_for @datos_de_contacto, url: contactos_update_datos_de_contacto_path, method: :put, html: { class: 'form-horizontal', role: 'form' } do |f|
  - if @datos_de_contacto.errors.any?
    #error_explanation
      %h2= "#{pluralize(@datos_de_contacto.errors.count, "error")}"
      %ul
        - @datos_de_contacto.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :telefono, 'Teléfono', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :telefono, class: 'form-control'
  .form-group
    = f.label :direecion, 'Dirección', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :direccion, class: 'form-control'
  .form-group
    = f.label :trabaja_con_nosotros, class: 'col-sm-2 control-label'
    .col-sm-8
      = f.text_area :trabaja_con_nosotros, class: 'tinymce'
      .actions
        = f.submit 'Guardar', class: 'btn btn-default'
