%h1 Mensajes

%table
  %tr
    %th Nombre
    %th Email
    %th Telefono
    %th Mensaje
    %th
    %th
    %th

  - @contactos.each do |contacto|
    %tr
      %td= contacto.nombre
      %td= contacto.email
      %td= contacto.telefono
      %td= contacto.mensaje
      %td= link_to 'Eliminar Mensaje', contacto, :method => :delete, :data => { :confirm => '¿Estas Seguro?' }

%br

