- content_for :javascript do
  = google_maps_api

#region-contacto-new.container
  .region
    .region-title
      %h2.title= page_title!(I18n.t 'contactenos.titulo')
      %span.subtitle= I18n.t 'contactenos.ubicacion'

#region-contacto-map
  #bloque-direccion.container
    .region
      .region-inner
        %ul
          %li
            %i.icon.telephone 
            %span
              221 2808
          %li.last
            %i.icon.destination
            %span
              Calle Lord Nelson 124<br>
              Miraflores, Lima.

  = render 'iframe'
   
#region-contacto-form.container
  .region
    .region-title
      %h2.title.subtitle= I18n.t 'contactenos.escribanos'

    .region-inner
      = render 'form'

#region-contacto-trabaja.container
  .region
    .region-inner.region-title
      %h2.title.subtitle= I18n.t 'contactenos.trabaja'
      %p
        = I18n.t 'contactenos.resumen'
      %p
        = I18n.t 'contactenos.texto'
      %p
        = I18n.t 'contactenos.parrafo'

    .region-inner.region-title
      %h2.title.subtitle= I18n.t 'contactenos.envia'


      = render '/postulantes/form'
