- content_for :javascript do
  = javascript_include_tag 'contactos.js.coffee'
  = google_maps_api

#region-contacto-new.container
  .region
    .region-title
      %h2.title= page_title!(I18n.t 'contactenos.titulo')
      %span.subtitle= I18n.t 'contactenos.ubicacion'

#region-contacto-map
  #bloque-direccion.container
    .region
      .region-inner
        %ul
          %li
            %i.icon.telephone
            %span
              = @datos_de_contacto.telefono
          %li.last
            %i.icon.destination
            %span
              = @datos_de_contacto.direccion

  = render 'iframe'

#region-contacto-form.container
  .region
    .region-title
      %h2.title.subtitle= I18n.t 'contactenos.escribanos'

    .region-inner
      = render 'form'

#region-contacto-trabaja.container
  .region
    .region-inner.region-title
      %h2.title.subtitle= I18n.t 'contactenos.trabaja'
      %p
        = @datos_de_contacto.trabaja_con_nosotros

    .region-inner.region-title
      %h2.title.subtitle= I18n.t 'contactenos.envia'


      = render '/postulantes/form'
