= nested_form_for @noticia, :html => { :multipart => true } do |f|
  - if @noticia.errors.any?
    #error_explanation
      %h2= "#{pluralize(@noticia.errors.count, "error")} prohibited this noticia from being saved:"
      %ul
        - @noticia.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :titulo
    = f.text_field :titulo
  .field
    = f.label :subtitulo
    = f.text_field :subtitulo
  .field
    = f.label :contenido
    = f.text_area :contenido, class: 'tinymce'
  .field
    = f.label :link
    = f.text_field :link
  .field
    = f.label :tipo
    = f.select :tipo, Noticia::TIPOS.collect { |i| [i]}
  .field
    = f.label :fecha
    = f.date_select :fecha
  .field
    = f.label :categoria
    = f.select :categoria, Noticia::CATEGORIAS.collect { |i| [i]}
  .field
    = f.label :subcategoria
    = f.select :subcategoria, Noticia::SUBCATEGORIAS.collect { |i| [i]}
  .field
    = f.label :destacado
    = f.check_box :destacado

  = f.fields_for :imagenes do |imagen_form|
    = imagen_form.file_field :imagen
    = imagen_form.link_to_remove "Eliminar imagen"
  = f.link_to_add "Agregar imagen", :imagenes
  %br
  = f.fields_for :videos do |video_form|
    = video_form.text_field :link
    = video_form.link_to_remove "Eliminar video"
  = f.link_to_add "Agregar video", :videos

  .actions
    = f.submit 'Save'
