= nested_form_for @noticia, :html => { multipart: true, class: 'form-horizontal', role: 'form' } do |f|
  - if @noticia.errors.any?
    #error_explanation
      %h2= "#{pluralize(@noticia.errors.count, "error")}"
      %ul
        - @noticia.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :titulo, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :titulo, class: 'form-control'
  .form-group
    = f.label :subtitulo, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :subtitulo, class: 'form-control'
  .form-group
    = f.label :contenido, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :contenido, class: 'tinymce'
  .form-group
    = f.label :link, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :link, class: 'form-control'
  .form-group
    = f.label :tipo, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :tipo, Noticia::TIPOS.collect { |i| [i]}, class: 'form-control'
  .form-group
    = f.label :fecha, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.date_select :fecha, class: 'form-control'
  .form-group
    = f.label :categoria, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :categoria, Noticia::CATEGORIAS.collect { |i| [i]}, class: 'form-control'
  .form-group
    = f.label :subcategoria, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :subcategoria, Noticia::SUBCATEGORIAS.collect { |i| [i]}, class: 'form-control'
  .form-group
    = f.label :destacado, class: 'col-sm-2 control-label'
    .checkbox-inline
      = f.check_box :destacado
  .form-group
    = f.label 'Imágenes', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.fields_for :imagenes do |imagen_form|
        = imagen_form.file_field :imagen, class: 'pull-left'
        = imagen_form.link_to_remove "Eliminar imagen", class: 'btn btn-danger control-label'
      = f.link_to_add "Agregar imagen", :imagenes, class: 'btn btn-primary'
  .form-group
    = f.label 'Videos', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.fields_for :videos do |video_form|
        = video_form.text_field :link, class: 'form-control pull-left'
        = video_form.link_to_remove "Eliminar video", class: 'btn btn-danger'
      = f.link_to_add "Agregar video", :videos, class: 'btn btn-primary'
  .form-group
    = f.label 'Charts', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.fields_for :charts do |chart_form|
        = chart_form.text_field :titulo, class: 'form-control pull-left'
        = chart_form.link_to_remove "Eliminar chart", class: 'btn btn-danger'
      = f.link_to_add "Agregar chart", :charts, class: 'btn btn-primary'
  .actions
    %br
    = f.submit 'Guardar', class: 'btn btn-default'
