
#region-noticias-buscador.container
  .region
    .region-inner
      %form.form-horizontal
        .form-group
          %label.col-sm-1.control-label Buscador
          .col-sm-5
            %input{:type => 'text', class: 'form-control'}
          .col-sm-2
            %button.btn.btn-default
              Enviar

#region-noticias-destacados.container
  .region
    .region-title
      %h2.title.subtitle Destacados
      - @destacados.each do |destacado|
        .region-inner
          .block-rounded
            %span.date
              = destacado.fecha
            %h3
              = link_to destacado.titulo, destacado
            = link_to 'Leer más', destacado, class: 'default-button'
            - if current_admin
              = link_to 'Editar', edit_noticia_path(destacado)
              = link_to 'Eliminar', destacado, :method => :delete, :data => { :confirm => '¿Estas seguro?' }

#carousel-noticias-list.carousel.slide.container
  .region
    .region-title
      %ol.carousel-indicators
        - Noticia::TIPOS.each do |tipo|
          %li
            %h2.title= link_to tipo, "/#{params[:action]}-#{params[:subcategoria].pluralize(2).downcase}?tipo=#{tipo}", remote: true

      #grid-noticias
        = render @noticias
