%h2 Destacadas

- @destacados.each do |destacado|
  = link_to destacado.titulo, destacado
  = destacado.fecha
  = link_to 'Leer más', destacado
  - if current_admin
    = link_to 'Editar', edit_noticia_path(destacado)
    = link_to 'Eliminar', destacado, :method => :delete, :data => { :confirm => '¿Estas seguro?' }
  %br
%br

- Noticia::TIPOS.each do |tipo|
  = tipo

%br

- @noticias.each do |noticia|
  = image_tag noticia.imagenes.first.imagen_url(:thumb) if noticia.imagenes.first
  = link_to noticia.titulo, noticia
  - if current_admin
    = link_to 'Editar', edit_noticia_path(noticia)
    = link_to 'Eliminar', noticia, :method => :delete, :data => { :confirm => '¿Estas seguro?' }
  %br

