
#region-noticias-buscador.container
  .region
    .region-inner
      = render('buscador')

- if @destacados
  #region-noticias-destacados.container
    .region
      .region-title
        %h2.title.subtitle= I18n.t 'noticias.destacados'
        - @destacados.each do |destacado|
          .region-inner
            .block-rounded
              %span.date
                = destacado.fecha
              %h3
                = link_to destacado.titulo, destacado
              = link_to 'Leer más', destacado, class: 'default-button'
              - if current_admin
                = link_to 'Editar', edit_noticia_path(destacado), class: 'btn btn-success'
                = link_to 'Eliminar', destacado, :method => :delete, :data => { :confirm => '¿Estas seguro?' }, class: 'btn btn-danger'

#carousel-noticias-list.carousel.slide.container
  .region
    .region-title
      %ol.carousel-indicators
        - Noticia::TIPOS.each do |tipo|
          %li
            %h2.title= link_to tipo, "/#{params[:action]}-#{params[:subcategoria].pluralize(2).downcase}?tipo=#{tipo}", remote: true

      #grid-noticias
        = render @noticias
