= render 'scripts/tiny_mce'

= form_for @texto_de_noticia, url: noticias_update_texto_de_noticia_path, method: :put, html: { class: 'form-horizontal', role: 'form' } do |f|
  - if @texto_de_noticia.errors.any?
    #error_explanation
      %h2= "#{pluralize(@texto_de_noticia.errors.count, "error")}"
      %ul
        - @texto_de_noticia.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .col-sm-10
      %h1.editar
        Editar Texto de Noticia

  .form-group
    = f.label :contenido, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :contenido, class: 'tinymce'
      .actions
        = f.submit 'Guardar', class: 'btn btn-default'
