#region-noticias.container
  .region
    .region-title
      %h2.title= I18n.t 'noticias.titulo'
      %span.subtitle
        = I18n.t 'noticias.subtitulo'

      %p
        = I18n.t 'noticias.parrafo'

    .region-inner



- if current_admin
  = link_to 'Nueva Noticia', new_noticia_path

= render('lista')

%br

