#region-noticias.container
  .region
    .region-title
      %h2.title= I18n.t 'noticias.titulo'
      %span.subtitle
        = I18n.t 'noticias.subtitulo'

      %p
        = @texto_de_noticia.contenido
      - if current_admin
        = link_to 'Editar texto de Noticia', noticias_editar_texto_de_noticia_path, class: 'btn btn-success'

    .region-inner



- if current_admin
  = link_to 'Nueva Noticia', new_noticia_path

= render('lista')

%br

