#region-noticias.container
  .region
    .region-title
      %h2.title= page_title!((I18n.t 'noticias.titulo') + " " + (params[:subcategoria]).pluralize(@noticias))
      %span.subtitle
        = I18n.t 'noticias.subtitulo'
      = admin_create('Nueva Noticia', new_noticia_path)
      %p
        = raw(@texto_de_noticia.contenido)
      - if current_admin
        = link_to 'Editar texto de Noticia', noticias_editar_texto_de_noticia_path, class: 'btn btn-success'
    .region-inner



= render('lista')

%br
