#region-noticias.container
  .region
    .region-title
      %h2.title= page_title!((I18n.t 'noticias.titulo') + " " + (params[:subcategoria]).pluralize(@noticias))
      %span.subtitle
        = I18n.t 'noticias.subtitulo'
      = admin_create('Nueva Noticia', new_noticia_path)
      %p
        = I18n.t 'noticias.parrafo'
    .region-inner



= render('lista')

%br
