#region-noticias.container
  .region
    .region-title
      %h2.title= page_title!((I18n.t 'publicaciones.titulo') + " " + (params[:subcategoria]).pluralize(@noticias))
      %span.subtitle
        = I18n.t 'publicaciones.subtitulo'
      = admin_create('Nueva Publicación', new_noticia_path)
      %p
        = I18n.t 'publicaciones.parrafo'
    .region-inner



= render('lista')

%br
