#region-chart.container
  = render 'chart'

#region-noticia.container
  .region
    .region-title
      %h2.title= page_title! @noticia.titulo
      %span.subtitle
        = @noticia.subtitulo

    .region-inner
      = raw(@noticia.comentario)
      %br
      = raw(@noticia.contenido)

      - @noticia.videos.each do |video|
        = link_to video.link, video.link, target: '_blank', class: 'btn btn-primary'

    %figure.region-inner
      - @noticia.imagenes.each do |imagen|
        = image_tag imagen.imagen_url(:regular)

      %span.label
        Compartir en
      = link_to content_tag(:i, '', class: 'facebook_2'), 'http://www.facebook.com/sharer.php?u=' + request.original_url
      = link_to content_tag(:i, '', class: 'linkedin_2'), 'http://www.linkedin.com/shareArticle?mini=true&url=' + request.original_url + '&title=' + @noticia.titulo + '&summary=' + @noticia.slug + '&source=' + @noticia.link

  = link_to 'Regresar', 'javascript:history.back(-1)', class: 'default-button'

  - if current_admin
    = link_to 'Editar', edit_noticia_path(@noticia), class: 'btn btn-success'
