%h1 Noticias
%p
  = @noticia.titulo
%p
  = @noticia.subtitulo
%p
  = @noticia.contenido

= link_to 'compartir en facebook', 'http://www.facebook.com/sharer.php?u=' + request.original_url
= link_to 'compartir en linkedin', 'http://www.linkedin.com/shareArticle?mini=true&url=' + request.original_url + '&title=' + @noticia.titulo + '&summary=' + @noticia.slug + '&source=' + @noticia.link

- if current_admin
  = link_to 'Edit', edit_noticia_path(@noticia)
\
= link_to 'Regresar', noticias_path
