
#carousel-generic.carousel.slide

  = admin_create('Administración de los Banners', slides_path)

  %ol.carousel-indicators
    - @slides.each_with_index do |slide, index|
      - if index == 0
        %li.active{:'data-target' => '#carousel-generic', :'data-slide-to' => index}
      - else
        %li{:'data-target' => '#carousel-generic', :'data-slide-to' => index}

  .carousel-inner
    - @slides.each_with_index do |slide, index|
      - if index == 0
        .item.active
          = image_tag slide.imagen_url(:full)
          .carousel-caption
            = slide.video_html
      - else
        .item
          = image_tag slide.imagen_url(:full)
          .carousel-caption
            = slide.video_html

  = link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), '#carousel-generic', :'data-slide' => 'prev', class: 'left carousel-control'
  = link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-right'), '#carousel-generic', :'data-slide' => 'next', class: 'right carousel-control'
