
#carousel-clientes.carousel.slide

  %ol.carousel-indicators
    - @clientes.each_slice(6).each_with_index do |cliente, index|
      - if index == 0
        %li.active{:'data-target' => '#carousel-clientes', :'data-slide-to' => index.to_s}
      - else
        %li{:'data-target' => '#carousel-clientes', :'data-slide-to' => index.to_s}

  .carousel-inner
    - @clientes.each_slice(6).each_with_index do |cliente, index|
      - if index == 0
        .item.active
          - cliente.each do |cliente|
            .slide
              = link_to image_tag(cliente.logo_url(:thumb)), cliente.link, target: '_blank'
              - if current_admin
                = link_to 'Editar', edit_cliente_path(cliente), class: 'btn btn-success'
                = link_to 'Eliminar', cliente, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'


      - else
        .item
          - cliente.each do |cliente|
            .slide
              = link_to image_tag(cliente.logo_url(:thumb)), cliente.link, target: '_blank'
              - if current_admin
                = link_to 'Editar', edit_cliente_path(cliente), class: 'btn btn-success'
                = link_to 'Eliminar', cliente, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'

  = link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-left'), '#carousel-clientes', :'data-slide' => 'prev', class: 'left carousel-control'
  = link_to content_tag(:span, '', class: 'glyphicon glyphicon-chevron-right'), '#carousel-clientes', :'data-slide' => 'next', class: 'right carousel-control'

