= render 'bootstrap3_carousel'

#presentacion.container
  .region
    .region-title
      %h2.title= page_title!('MC&F - Mercados de Capitales, Inversiones y Finanzas Consultores S.A.')
    .clear
    .region
      .region-inner
        .ico
          %i.icon.computer_chart
        %p
          = raw(@texto_de_inicio.contenido)
      .region-inner
        .ico
          %i.icon.person_chart
        %p
          = raw(@texto_de_inicio.contenido2)
      .region-inner
        .ico
          %i.icon.person_brain
        %p
          = raw(@texto_de_inicio.contenido3)
      - if current_admin
        = link_to 'Editar Texto', inicio_editar_texto_de_inicio_path, class: 'btn btn-success'

#servicios-region
  .container
    .region
      .region-title
        %h2.title
          = I18n.t 'inicio.servicios'
    .region
      - @servicios.each do |servicio|
        .region-inner
          = image_tag servicio.icono_url(:thumb)
          .vertical-wrapper
            .vertical
              %h3.vertical-inner
                = link_to servicio.nombre, servicios_path(servicio_id: servicio)




#clientes-region.container
  .region
    .region-title
      %h2.title
        = I18n.t 'inicio.clientes'
        = admin_create('Nuevo Cliente', new_cliente_path)
  = render 'clientes_carousel'


