- page_title!(' Mercados de Capitales, Inversiones y Finanzas Consultores S.A.')
= admin_create('Nuevo Banner', new_slide_path)


= render 'bootstrap3_carousel'

#presentacion.container
  .region
    .region-title
      %h2.title Mercados de Capitales, Inversiones y Finanzas Consultores S.A. - MC&F
    .region-inner
      %i.icon.person_chart
      %p
        Somos profesionales con experiencia en sistemas financieros y de gestión empresarial.
        Nos focalizamos en los mercados financieros. Brindamos asesoría en análisis económico, financiero y regulación.

#servicios-region
  .container
    .region
      .region-title
        %h2.title
          Servicios
    .region
      - @servicios.each do |servicio|
        .region-inner
          = image_tag servicio.icono_url(:thumb)
          .vertical-wrapper
            .vertical
              %h3.vertical-inner
                = link_to servicio.nombre, servicios_path(servicio_id: servicio)




#clientes-region.container
  .region
    .region-title
      %h2.title
        Clientes
        = admin_create('Nuevo Cliente', new_cliente_path)
  = render 'clientes_carousel'
