%h1 Inicio#index
%p Find me in app/views/inicio/index.html.haml

- if current_admin
  = link_to 'Nuevo Banner', new_slide_path

%br

- @slides.each do |slide|
  = image_tag slide.imagen_url(:full)
  - if current_admin
    = link_to 'Editar', edit_slide_path(slide)
    = link_to 'Eliminar', slide, :method => :delete, :data => { :confirm => '¿Estas Seguro?' }

- @servicios.each do |servicio|
  = image_tag servicio.icono_url(:thumb)

- if current_admin
  = link_to 'Nuevo Cliente', new_cliente_path

%br

- @clientes.each do |cliente|
  = link_to image_tag(cliente.logo_url(:thumb)), cliente.link
  - if current_admin
    = link_to 'Editar', edit_cliente_path(cliente)
    = link_to 'Eliminar', cliente, :method => :delete, :data => { :confirm => '¿Estas seguro?' }

