%ul.social-links
  - if current_admin
    %li
      = link_to (I18n.t 'menu.cerrar_sesion'), destroy_admin_session_path, :method => :delete
      |
  %li
    = link_to 'Español', url_for( :locale => 'es' )
  |
  %li
    = link_to 'English', url_for( :locale => 'en' )
  %li
    = link_to content_tag(:i, '', class: 'icon mail'), 'mailto:info@mcifperu.com', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'icon facebook'), 'https://www.facebook.com/mcifperu', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'icon linkedin'), 'http://www.linkedin.com/company/3047301?trk=tyah&trkInfo=tas%3Amercados%20de%20capitales%20%2Cidx%3A1-1-1', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'icon youtube'), 'http://www.youtube.com/user/mcifperu', target: '_blank'
