= form_for @postulante, :html => { :multipart => true } do |f|
  - if @postulante.errors.any?
    #error_explanation
      %h2= "#{pluralize(@postulante.errors.count, "error")} prohibited this postulante from being saved:"
      %ul
        - @postulante.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :nombre, class: 'control-label'
    = f.text_field :nombre, class: 'form-control'
  .form-group
    = f.label :email, class: 'control-label'
    = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :curriculum, class: 'control-label'
    = f.file_field :curriculum, class: 'form-control'
  .form-group
    = f.submit 'Save'
