#region-postulantes.container

  .region
    .region-title
      %h1= page_title!('Listando postulantes')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Postulante', new_postulante_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
            %th Nombre
            %th Email
            %th Curriculum
            %th
            %th
            %th

          - @postulantes.each do |postulante|
            %tr
              %td= postulante.nombre
              %td= postulante.email
              %td= postulante.curriculum
              %td= link_to 'Ver', postulante, class: 'btn btn-info'
              - if current_admin
                %td= link_to 'Editar', edit_postulante_path(postulante), class: 'btn btn-success'
                %td= link_to 'Eliminar', postulante, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
