%nav.navbar.navbar-default{role: "navigation"}

  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

  / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.navbar-right
      = menu_li('Inicio', 'inicio', root_path)

      = menu_li("Nosotros", 'nosotros', miembros_path)
      = menu_li("Servicios", 'servicios', servicios_path)
      = menu_li("Noticias MCIF", 'noticias', noticias_mcif_path)
      =# menu_li("Noticias Recomendadas", 'noticias', noticias_recomendadas_path)
      =# menu_li("Pulicaciones MCIF", 'noticias', publicaciones_mcif_path)
      =# menu_li("Pulicaciones Recomendadas", 'noticias', publicaciones_recomendadas_path)
      - if current_admin
        %li= link_to "Mensajes", contactos_path
      - else
        %li= link_to "Contáctenos", new_contacto_path
      - if current_admin
        %li= link_to "Cerrar Sesión", destroy_admin_session_path, :method => :delete
  .bevel
  / /.navbar-collapse




