= render 'layouts/html'

%body{id: bodyid, class: bodyclass}
  %header#main-header
    .container
      .region
        .region-inner
          %h1#logo
            = link_to image_tag('logo.png', title: 'MCIF', alt: 'MCIF'), root_path, class: 'navbar-brand'
          = render 'layouts/nav_advanced' 

  #ticket
    .container
      .region
        .region-inner
          - @ticker_noticias.each do |noticia|
            = noticia.tipo
            = link_to noticia.titulo, noticia
            = noticia.fecha

  #content
    = yield

  %footer#main-footer




  = javascript_include_tag 'application'
  = yield :javascript
