= render 'layouts/html'

%body{id: bodyid, class: bodyclass}
  %header#main-header
    .container
      .region
        .region-inner
          %h1#logo
            = link_to image_tag('logo.png', title: 'MCIF', alt: 'MCIF'), root_path, class: 'navbar-brand'
          = render 'shared/social_share'
          = render 'layouts/nav_advanced'

  #ticket
    .container
      .region
        .region-inner
          %ul#ticker01
            - @ticker_noticias.each do |noticia|
              %li
                %i.icon.minisearch
                = noticia.tipo + ': '
                = link_to noticia.titulo, noticia
                %i
                  = noticia.fecha

  #content
    = yield

  %footer#main-footer
    .container
      #footer-bottom.region
        .region-inner
          %p Mercado de Capitales, Inversiones y Finanzas Consultores S.A. Todos los Derechos Reservados 2013.



  = javascript_include_tag 'application'
  = yield :javascript
